@import '../../styles/shared/color.scss';
@import '../../styles/shared/background.scss';

.header {
    background: $dark-grey;
    padding: 0.8rem 0;
}

.homePage {
    background: $headerBackground;
    padding: 0.8rem 0;
}
