@import '../../styles/shared/color.scss';
@import '../../styles//shared/mixin.scss';

.pageBlockContainer {
    padding: 6rem 0 10rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @include respond-to('small') {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to('small') {
        flex-direction: row;
        justify-content: space-between;
    }
}

.locationContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;

    @include respond-to('medium') {
        align-items: center;
        flex-direction: row;
    }
}

.infoContainer {
    color: $black;
    width: 90%;

    @include respond-to('small') {
        align-self: center;
        width: 90%;
    }

    @include respond-to('medium') {
        width: 40%;
    }
}

.pageTitle {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 38px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    margin-bottom: 2rem;

    @include respond-to('small') {
        font-size: 2.8rem;
        line-height: 44px;
        letter-spacing: 1.42857px;
    }

    span {
        color: $primary-color;
    }
}

.description {
    font-weight: 200;
    font-size: 1rem;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.image {
    border-radius: 8px;
}

.desktopImage {
    display: none;
    @include respond-to('large') {
        display: contents;
    }
}

.tabletImage {
    display: none;

    @include respond-to('small') {
        display: contents;
    }

    @include respond-to('large') {
        display: none;
    }
}

.mobileImage {
    display: contents;

    @include respond-to('small') {
        display: none;
    }

    @include respond-to('large') {
        display: none;
    }
}

.desktopImage {
    display: none;
    @include respond-to('large') {
        display: contents;
    }
}

.tabletImage {
    display: none;

    @include respond-to('small') {
        display: contents;
    }

    @include respond-to('large') {
        display: none;
    }
}

.mobileImage {
    display: contents;

    @include respond-to('small') {
        display: none;
    }

    @include respond-to('large') {
        display: none;
    }
}

//////Single Page Block Styles ////////////////
.singlePageBlockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6rem 0;

    @include respond-to('small') {
        margin: 10rem 0;
    }
}

.singleContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to('small') {
        flex-direction: row-reverse;
    }
}

.singlePageContent {
    text-align: center;
    @include respond-to('small') {
    }
}

.singlePageHeader {
    align-self: center;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 36px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.singlePageTitle {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 33px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.button {
    width: 45%;
    margin-bottom: 3rem;

    @include respond-to('small') {
        width: auto;
        margin-bottom: auto;
    }
}
