@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;

    @include respond-to('small') {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10rem;
    }
}

.image {
    border-radius: 8px;
}

.desktopImage {
    display: none;
    @include respond-to('large') {
        display: contents;
    }
}

.tabletImage {
    display: none;

    @include respond-to('small') {
        display: contents;
    }

    @include respond-to('large') {
        display: none;
    }
}

.mobileImage {
    display: block;

    @include respond-to('small') {
        display: none;
    }

    @include respond-to('large') {
        display: none;
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;

    @include respond-to('small') {
        width: 45%;
        justify-content: center;
        align-items: flex-start;
    }
}

.newProduct {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: $primary-color;
}

.title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
    width: 55%;

    @include respond-to('small') {
        font-size: 40px;
        line-height: 44px;
        width: 80%;
    }

    @include respond-to('medium') {
        text-align: left;
        width: 55%;
    }
}

.description {
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;

    @include respond-to('small') {
        width: 95%;
    }

    @include respond-to('medium') {
        text-align: left;
    }
}

.price {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.buttonContainer {
    display: flex;
}

.countButton {
    width: 140px;

    @include respond-to('small') {
        width: auto;
    }
}

.cartButton {
    width: 180px;

    @include respond-to('small') {
        width: 160px;
    }

    @include respond-to('medium') {
        width: auto;
    }
}
