@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.cartContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    overflow: auto;
}

.modal {
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transform: translate(0, 45%);
    height: auto;
    padding: 2rem;
    width: 90%;
    z-index: 1;

    @include respond-to('small') {
        transform: translate(40%, 30%);
        width: 50%;
    }

    @include respond-to('medium') {
        left: 80%;
        transform: translate(-50%, -50%);
        width: 21%;
        position: fixed;
    }
}

.modalEmpty {
    top: 21%;
}

.modalOne {
    top: 29%;
}

.modalTwo {
    top: 33%;
}

.modalThree {
    top: 37%;
}

.modalFour {
    top: 41%;
}

.modalMain {
    top: 45%;
}

.cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cartHeaderText {
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 1.28571px;
        text-transform: uppercase;
    }

    .cartButton {
        font-weight: 500;
        line-height: 25px;
        text-decoration-line: underline;
        mix-blend-mode: normal;
        opacity: 0.5;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: $black;
    }
}

.cartContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 0.6rem;

    .imageTextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cartInfo {
        margin-left: 2rem;
    }

    .name {
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase;
        margin: 0;
        opacity: 0.5;
    }

    .price {
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase;
        margin: 0;
        mix-blend-mode: normal;
    }

    .quanity {
        font-size: 0.8rem;
        font-weight: bold;
    }
}

.countButtonContainer {
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.countButton {
    padding: 0.5rem 1.2rem;
    border: none;
    cursor: pointer;
    color: $black;
    opacity: 0.25;
}

.buttonText {
    font-size: 1rem;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.totalContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.grandTotalContainer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    & .totalPrice {
        color: $primary-color;
    }
}

.totalText {
    color: $black;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
    margin: 0;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-transform: uppercase;
}

.totalPrice {
    font-size: 1rem;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 1px;
    margin: 0;
}

.checkoutButton {
    width: 100%;
}
