@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;

    // @include respond-to('large') {
    //     display: none;
    // }
}

.primary {
    background-color: $primary-color;
    color: $white;
    padding: 0.8rem;

    &:hover {
        background-color: $secondary-color;
    }
}

.back {
    outline: none;
    background-color: $white;
    color: $black;
    font-weight: 200;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 4rem;

    &:hover {
        color: $primary-color;
    }
}

.count {
    color: $black;
    letter-spacing: 1px;
    margin: 0;
    padding: 1rem;

    &:hover {
        color: $primary-color;
    }
}

.cart {
    background-color: $primary-color;
    color: $white;
    padding: 1rem;

    &:hover {
        background-color: $secondary-color;
    }
}

.countButtonContainer {
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.buttonText {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.negativeButton {
    margin-right: 1rem;
}

.positiveButton {
    margin-left: 1rem;
}
