@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.nav {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

    &.active {
        &::after {
            content: '';
            opacity: 0.2;
            width: 98%;
            top: 100px;
            left: 0.5rem;
            position: absolute;
            border-top: 1px solid white;
        }
    }
}

.drawer {
    display: contents;

    @include respond-to('medium') {
        display: none;
    }
}

.logo {
    height: 25px;
    width: 143px;
}

.navItems {
    display: none;

    @include respond-to('medium') {
        display: flex;
        gap: 1.5rem;
    }
}

.navItem {
    font-size: 1rem;
    text-align: center;
}

.links {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
        color: $primary-color;
    }
}

.cartButton {
    background: none;
    border: none;
    outline: none;
}
