@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.checkoutContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    @include respond-to('medium') {
        flex-direction: row;
    }
}

.formContainer,
.cartContainer {
    background-color: $white;
    border-radius: 8px;
    padding: 2rem;
}

.formContainer {
    margin-bottom: 2rem;

    @include respond-to('medium') {
        width: 70%;
        margin-bottom: 7rem;
    }
}

.cartContainer {
    height: fit-content;

    @include respond-to('medium') {
        width: 28%;
    }
}

.button {
    background-color: $grey;
    margin-top: 1rem;

    @include respond-to('small') {
        margin-top: 6rem;
    }
}

.checkout {
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 36px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
}

.fieldset {
    color: $primary-color;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 0.928571px;
    margin: 3rem 0 1.6rem 0;

    & > p {
        margin-left: 0.5rem;
    }
}

.fieldsetTitle {
    color: $primary-color;
    font-weight: bold;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 0.928571px;
    text-transform: uppercase;
}

.inputWrapper {
    display: flex;
    flex-wrap: wrap;
}

.label {
    display: flex;
    flex-direction: column;
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 16px;
    letter-spacing: -0.214286px;
    margin: 1rem 0.8rem 1rem 0.5rem;
    width: 100%;

    &.radiowidth {
        width: 8%;
    }

    @include respond-to('small') {
        &.fullwidth {
            width: 100%;
        }

        &.halfwidth {
            width: 47%;
        }

        &.radiowidth {
            width: 8%;
        }
    }
}

.textInput {
    background: $white;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    border-radius: 8px;
    height: 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: -0.25px;
    margin: 0.3rem 0;
    padding-left: 1.5rem;
    width: 100%;

    &:focus {
        outline: $primary-color solid 1px;
    }
}

.radioContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 16px;
    letter-spacing: -0.214286px;
    margin: 1rem 0.8rem 1rem 0.5rem;

    @include respond-to('small') {
        flex-direction: row;

        & > div {
            width: 46%;
        }
    }
}

.radioLabel {
    margin-bottom: 2rem;
    @include respond-to('small') {
        margin-bottom: 20;
    }
}

.radioButton {
    background: $white;
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
    margin-bottom: 1rem;
}

.radioText {
    color: $black;
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: -0.25px;
    margin-left: 0.5rem;
}

.radioOutline {
    cursor: pointer;
    border: none;
    outline: none;
}

.errorContainer {
    display: flex;

    .warningIcon {
        color: $red;
        fill: aqua;
    }
    .errorMessage {
        color: $red;
        font-size: 0.7rem;
        font-weight: 500;
        margin-left: 0.3rem;
    }
}
