@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.headerContainer,
.footerInfo {
    color: $white;
}

.headerContainer {
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 60% -80px;
    background-color: $headerBackground;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;

    @include respond-to('small') {
        height: 800px;
    }

    @include respond-to('medium-large') {
        height: 380px;
    }

    @include respond-to('large') {
        height: 760px;
    }

    @include respond-to('extra-large') {
        height: 980px;
    }
}

.headerInfo {
    display: flex;
    justify-content: center;
    text-align: center;

    @include respond-to('medium-large') {
        justify-content: flex-start;
        text-align: left;
    }
}

.info {
    flex-basis: 300px;

    @include respond-to('medium') {
        flex-basis: 200px;
    }
}

.footerInfo {
    flex: 0 0 520px;
}

.newProduct {
    font-size: 0.5rem;
    line-height: 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.headerTitle {
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.5rem 0;

    @include respond-to('small') {
        font-size: 3rem;
        line-height: 40px;
        letter-spacing: 1px;
    }
}

.headerDescription {
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin: 2rem 0;
}

.footerDescription,
.copyDescription {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footerDescription {
    margin-bottom: 3rem;
}

.copyDescription {
    font-weight: 700;
}

.productContainer {
    background: $dark-grey;
    display: flex;
    position: relative;
    margin-bottom: 4rem;
    padding-left: 4rem;

    .pathName {
        text-align: center;
        color: $white;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 1.42857px;
        text-transform: uppercase;
        opacity: 0.5;
    }
}

.button {
    &:hover {
        background-color: $secondary-color;
    }
}
