@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.footer {
    background: $dark-grey;
}

.footerContainer {
    padding: 6rem 1rem 5rem;
    display: flex;
    flex-direction: column;
}

.footerNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;

    @include respond-to('small') {
        align-items: flex-start;
    }

    @include respond-to('medium') {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

.navItems {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to('small') {
        flex-direction: row;
    }

    @include respond-to('medium') {
        margin: 0;
    }
}

.navItem {
    margin-top: 1rem;

    @include respond-to('small') {
        margin-bottom: 0;
        margin-right: 3rem;
    }

    @include respond-to('medium') {
        margin-left: 3rem;
    }
}

.links {
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
        color: $primary-color;
    }
}

.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    @include respond-to('small') {
        flex-direction: row;
        text-align: unset;
    }

    @include respond-to('medium') {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footerInfoContainer {
    flex-basis: auto;
    position: relative;

    @include respond-to('small') {
        flex-basis: 99%;
    }

    @include respond-to('medium') {
        flex-basis: 47%;
    }
}

.footerDescription,
.copyDescription {
    mix-blend-mode: normal;
    opacity: 0.5;
    color: $white;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

.footerDescription {
    margin-bottom: 5rem;
}

.copyDescription {
    font-weight: 700;
    margin-bottom: 3rem;
}

.socials {
    display: flex;
    position: relative;

    .img {
        cursor: pointer;
        margin-left: 1rem;
    }

    @include respond-to('small') {
        position: absolute;
        top: 70%;
        right: 5%;
    }

    @include respond-to('medium') {
        position: relative;
    }
}
