@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.container {
    margin-top: -4rem;
}

.productContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -4rem;

    @include respond-to('medium') {
        flex-direction: row;
    }
}

.featuresContainer {
    color: $black;
    margin-bottom: 4rem;
    flex: 0 0 635px;
}

.includesContainer {
    margin-top: -10rem;

    @include respond-to('small') {
        margin-top: -23rem;
        display: flex;
        align-items: center;
    }

    @include respond-to('medium') {
        margin-top: 0;
        display: block;
    }
}

.features {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;

    @include respond-to('small') {
        margin-top: -2rem;
        margin-right: 12rem;
    }

    @include respond-to('medium') {
        margin-top: 0;
        margin-right: 0;
    }
}

.featuresContent {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.galleryContainer {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    flex-direction: column;

    @include respond-to('small') {
        flex-direction: row;
    }
}

.firstGalleryImage {
    margin-bottom: 0.5rem;

    @include respond-to('medium') {
        margin: 0;
    }
}

.secondGalleryImage {
    margin-bottom: 0.5rem;

    @include respond-to('medium') {
        margin-bottom: 0;
    }
}

.thirdGalleryImage {
    @include respond-to('small') {
        margin-left: 1rem;
    }

    @include respond-to('medium') {
        margin-left: 0;
    }
}

.galleryLeftLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image {
    border-radius: 8px;
}
