@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.container {
    margin-top: 1.5rem;
}

.productContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 4rem;

    @include respond-to('medium') {
        flex-direction: row;
    }

    .featuresContainer {
        color: $black;
        flex: 0 0 635px;
    }

    .includesContainer {
        @include respond-to('small') {
            display: flex;
            align-items: center;
        }

        @include respond-to('medium') {
            display: block;
        }
    }

    .features {
        font-weight: bold;
        font-size: 2rem;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .featuresContent {
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 20px;
        mix-blend-mode: normal;
        opacity: 0.7;
    }
}

.galleryContainer {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 4rem;

    @include respond-to('small') {
        flex-direction: row;
    }

    .galleryLeftLayout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.image {
    border-radius: 8px;
}
