@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    @include respond-to('medium') {
        flex-direction: row;
        justify-content: space-between;

        &:nth-last-child(2n) {
            flex-direction: row-reverse;
        }
    }
}

.image {
    border-radius: 8px;
}

.desktopImage {
    display: none;
    @include respond-to('large') {
        display: contents;
    }
}

.tabletImage {
    display: none;

    @include respond-to('small') {
        display: contents;
    }

    @include respond-to('large') {
        display: none;
    }
}

.mobileImage {
    display: contents;

    @include respond-to('small') {
        display: none;
    }

    @include respond-to('large') {
        display: none;
    }
}

.infoContainer {
    align-items: center;

    @include respond-to('medium') {
        width: 50%;
        margin-left: 6rem;
    }
}

.newProduct {
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 15px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: $primary-color;
}

.title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 38px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    margin: 0;

    width: 60%;

    @include respond-to('small') {
        font-size: 2.5rem;
        line-height: 35px;
        width: 50%;
    }

    @include respond-to('medium') {
        width: 58%;
    }
}

.description {
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 18px;

    @include respond-to('small') {
        width: 70%;
    }
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.button {
    width: 180px;

    @include respond-to('medium') {
        width: auto;
    }
}
