@import '../../styles/shared/color.scss';
@import '../../styles/shared/background.scss';
@import '../../styles//shared/mixin.scss';

.firstContainer,
.secondContainer,
.thirdContainer {
    display: flex;
    border-radius: 8px;
    margin-bottom: 2rem;
    position: relative;
}

.secondInfo,
.thirdInfo {
    flex: 0 0 30%;
    margin-right: 7rem;
}

.firstContainer {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: $primary-color;
    background-image: url($featuredBackground);
    background-repeat: no-repeat;
    background-position: left 50% bottom 280%;
    background-size: 170%;
    height: 390px;
    z-index: 1;
    color: $white;
    position: relative;
    overflow: hidden;

    @include respond-to('phonePlus') {
        background-position: left 50% top 650%;
        background-size: 170%;
    }

    @include respond-to('small') {
        background-position: right 50% top 130%;
        background-size: 140%;
        flex-direction: column;
    }

    @include respond-to('medium') {
        background: url($featuredBackground) $primary-color no-repeat left -10rem top 20%;
        flex-direction: row;
    }

    .name {
        font-size: 2rem;
        line-height: 30px;
        letter-spacing: 1.28px;
        width: 60%;

        @include respond-to('small') {
            font-size: 2.5rem;
            line-height: 48px;
            letter-spacing: 2px;
            width: fit-content;
            width: 40%;
        }
    }

    .description {
        font-size: 0.8rem;
        line-height: 20px;
        font-weight: 500;
        mix-blend-mode: normal;
        opacity: 0.75;
        margin-bottom: 2rem;
    }

    .button {
        background-color: $black;
        width: 60%;

        &:hover {
            background-color: $button-grey;
        }

        @include respond-to('small') {
            width: 25%;
        }

        @include respond-to('medium') {
            width: fit-content;
        }
    }

    .firstImage {
        margin-top: 1rem;
        margin-left: 10rem;
        height: 207px;
        width: 172px;

        @include respond-to('small') {
            height: 237px;
            width: 197.21px;
        }

        @include respond-to('medium') {
            height: 300px;
            width: 300px;
        }
    }

    .firstInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond-to('medium') {
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            width: 30%;
            margin-right: 7rem;
        }
    }
}

.secondContainer {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    .name {
        font-size: 1.8rem;
        line-height: 38px;
        letter-spacing: 2px;
        margin-bottom: 1rem;
    }

    .infoContainer {
        margin-left: 2rem;

        @include respond-to('small') {
            margin-left: 5rem;
        }

        @include respond-to('medium') {
            margin-left: 10rem;
        }
    }

    .button {
        background-color: transparent;
        border: $black 1px solid;
        color: $black;
        margin-top: 1rem;
        width: 80%;

        &:hover {
            background-color: $dark-grey;
            color: $white;
        }

        @include respond-to('small') {
            width: fit-content;
        }
    }
}

.thirdContainer {
    justify-content: space-between;
    flex-direction: column;
    height: 250px;

    @include respond-to('small') {
        flex-direction: row;
    }

    .name {
        font-size: 1.8rem;
        line-height: 38px;
        letter-spacing: 2px;
    }

    .image {
        border-radius: 8px;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $grey;
        border-radius: 8px;

        @include respond-to('small') {
            width: 570px;
            margin-left: 1rem;
        }
    }

    .button {
        background-color: transparent;
        border: $black 1px solid;
        color: $black;
        margin-top: 1rem;
        width: 70%;

        @include respond-to('small') {
            width: fit-content;
        }

        &:hover {
            background-color: $dark-grey;
            color: $white;
        }
    }
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
