@import '../../styles/shared/color.scss';
@import '../../styles/shared/mixin.scss';

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.8);

    @include respond-to('large') {
        display: none;
    }
}

.container {
    position: relative;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navItem {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 3rem;
    margin: 2rem;
}

.links {
    width: 200px;
}
